content-music-rec/MRS_CNN_FINAL/Saved_Model/best_model.keras
content-music-rec/MRS_CNN_FINAL/Dataset/fma_metadata/features.csv
content-music-rec/MRS_CNN_FINAL/Dataset/fma_metadata/raw_tracks.csv
content-music-rec/MRS_CNN_FINAL/Dataset/fma_metadata/tracks.csv
content-music-rec/MRS_CNN_FINAL/Saved_Model/CNN_Model.keras
content-music-rec/MRS_CRNN/Dataset/fma_metadata/features.csv
content-music-rec/MRS_CRNN/Dataset/fma_metadata/raw_tracks.csv
content-music-rec/MRS_CRNN/Dataset/fma_metadata/tracks.csv
content-music-rec/MRS_CNN_FINAL/Saved_Model/CNN_Model.keras
content-music-rec/MRS_CNN_FINAL/Saved_Model/best_model.keras
